.form-line{
    height: 30px;
    line-height: 30px;
}
.form-line .label{
    width: 80px;
    font-size:14px;
    display: inline-block;
    text-align: center;
}
.form-line .input{
    outline: none;
    padding: 2px;
}
.panel-body .btn-submit{
    margin-left: 100px;
    margin-top: 10px;
}